/deep/ > .weui-cells {
  font-size: .16rem;
  .vux-tap-active {
    .vux-label {
      color: #5077aa;
      font-weight: bold;
    }
  }
  &:after {
    border-bottom: none;
  }
}
.childPage {
  .content {
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: auto;
    input {
      border: none;
      outline: none;
    }
    .mater_baseinfo {
      display: flex;
      align-items: flex-end;
      .mater_property {
        flex: 1;
      }
    }

    .each_property {
      min-height: .5rem;
      padding: 0.05rem 0.08rem;
      position: relative;
      label {
        color: #6d6d6d;
        font-size: 0.12rem;
        display: block;
        height:0.2rem;
        line-height: 0.2rem;
      }
      .required{
        color:#5077aa;
        font-weight: bold;
      }
      //校验错误提示按钮
      .warn{
        position: absolute;
        right: 0.08rem;
        top: 0.27rem;
      }
      .weui-icon-warn{
        font-size:0.18rem;
      }
      .property_val {
        width:100%;
        display: block;
        font-size: .16rem;
        line-height: .24rem;

      }
      //只读
      .readonly{
        color:#999;
      }
      .picker {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .mater_nature {
          font-size: 0.16rem;
          line-height: 0.2rem;
        }
        .iconfont {
          font-size: 0.24rem;
        }
      }
      .vux-cell-box{
        position: absolute;
        left:0;
        top:0;
        padding: 0.05rem 0.08rem;
        width:100%;
        box-sizing: border-box;
        color: #6d6d6d;
        font-size: 0.12rem;
        label{
          height:0.58rem;
        }
        .vux-cell-primary{
          display: none;
        }
        &:not(:first-child):before{
          border:none;
        }

      }
    }
  }
}
// 提交
.btn {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  z-index: 99;
  position: absolute;
  background: #fff;
  .cfm_btn {
    top: 50%;
    left: 50%;
    width: 2.8rem;
    color: #fff;
    height: .44rem;
    line-height: .44rem;
    position: absolute;
    text-align: center;
    background: #5077aa;
    border-radius: .4rem;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px #5077aa;
  }
  .disabled{
    background:#c7c7c7;
    box-shadow: 0 2px 5px #c7c7c7;
  }
}

// 居中
.mg_auto {
  // width: 95%;
  // margin: 10px auto;
  width: 95%;
    // position: relative;
    margin: .1rem auto 0;
}
.symbol {
  font-size: .12rem;
}
// 阴影
.box_sd {
  box-sizing: border-box;
  box-shadow: 0 0 8px #e8e8e8;
}
// 表单内容
.basicPart {
  z-index: 1;
  overflow: hidden;
  position: relative;
  background: #F8F8F8;
  height: calc(100% - .44rem);
  -webkit-overflow-scrolling: touch;
  .fill_wrapper{
    overflow: hidden;
  }
}
//底部为提交时
.no_count{
  height: 90%;
}

// 地址栏
.or_ads {
  background: #FFF;
  position: relative;
  box-sizing: border-box;
  padding: .06rem .4rem .06rem .08rem;
  .icon-gengduo {
    top: 50%;
    right: .1rem;
    font-size: .24rem;
    position: absolute;
    transform: translate(0, -50%);
  }
  .title {
    color: #757575;

    font-size: .12rem;

  }
  .mode {
    color: #111;
    font-weight: 500;
  }
  .required{
    color: #5077aa;
    font-weight: bold;

  }
  .r_arrow {
    top: 50%;
    right: .04rem;
    position: absolute;
    transform: translate(0, -50%);
  }
  // 用户信息
  .user_info {
    color: #111;
    font-size: .2rem;
    font-weight: 500;
    // 用户姓名
    .user_name {
      margin-right: .08rem;
    }
    // 用户电话
    .user_tel {
      font-family: sans-serif, -apple-system-font;
    }
  }
  // 公司信息
  .cp_info {
    color: #111;
    .cp_name {
      font-weight: bold;
    }
    .cp_ads {

      color: #757575;
    }
    .user_tel {
      margin-right: .04rem;
    }
  }
}
//必填字段
.required{
  color: #5077aa;
  font-weight: bold;
}
// 物料列表
.materiel_list {
  width: 95%;
  position: relative;
  margin: .1rem auto 0;
  background: #FFF;
  box-sizing: border-box;
  padding: .06rem .08rem;
  .title {
    display: flex;
    color: #757575;
    font-size: .12rem;
    justify-content: space-between;
  }
  .tips {
    color: #111;
    font-weight: 500;
  }
  // 右箭头
  .r_arrow {
    top: 50%;
    right: .04rem;
    font-weight: bold;
    position: absolute;
    transform: translate(0, -50%);
  }
  // 物料列表
  .mater_list {
    width: 100%;
    box-sizing: border-box;
    .vux-1px-b:after {
      border-bottom: 1px solid #e8e8e8;
    }
    // 每个物料
    .each_mater {
      padding: .08rem 0;
      position: relative;
      // margin-bottom: .2rem;
      box-sizing: border-box;
    }
    .mater_delete{
      position: relative;
      padding-left: 0.3rem;
    }
    .each_mater_wrapper {
      display: flex;
      .order-code {
        font-size: .14rem;
      }
      .order-matter {
        display: flex;
        margin-top: .1rem;
      }
      // 物料图片
      .mater_img {
        width: .75rem;
        height: .75rem;
        display: inline-block;
        margin-top: .04rem;
        img {
          width: 100%;
          max-height: 100%;
        }
      }
      .has_padding {
        padding-right: .38rem;
      }
      // 下划线
      .vux-1px-b:after {
        border-bottom: 1px solid #e8e8e8;
      }
    }
    // 物料主体
    .mater_main {
      width: 2.6rem;
      margin-left: .1rem;
      display: inline-block;
      box-sizing: border-box;
      // 物料名称
      .mater_name {
        color: #111;
        // overflow: hidden;
        font-size: .14rem;
        font-weight: bold;
        // max-height: .46rem;
        // display: -webkit-box;
        // -webkit-line-clamp: 2;
        margin-bottom: .02rem;
        // text-overflow: ellipsis;
        // -webkit-box-orient: vertical;
        // 每个物料的索引
        .whiNum {
          color: #fff;
          padding: 0 .02rem;
          font-size: .1rem;
          display: inline-block;
          background: #ea5455;
          vertical-align: middle;
          margin: -.01rem .04rem 0 0;
        }

      }
      .mater_num {
        color: #111;
        font-size: .14rem;
        font-weight: bold;
        .diff_num {
          color: #ea5455;
        }
      }
      // 物料信息
      .mater_info {
        color: #757575;
        font-size: .12rem;
        // 有颜色包裹的
        .withColor {
          // 物料编码
          .mater_code {
            display: flex;
            .title,
            .num {
              font-size: .1rem;
              padding: 0 .04rem;
              display: inline-block;
            }
            .title {
              color: #fff;
              background: #3f72af;

              border-top-left-radius: .12rem;
              border-bottom-left-radius: .12rem;
            }
            .num {
              color: #111;
              max-width: .65rem;
              overflow: hidden;
              white-space: nowrap;
              background: #dbe2ef;
              text-overflow: ellipsis;
              border-top-right-radius: .12rem;
              border-bottom-right-radius: .12rem;
            }
          }
          // 规格
          .mater_spec {
            @extend .mater_code;
            margin-left: .1rem;
            .title {
              color: #fff;
              background: #537791;

            }
            .num {
              color: #fff;
              max-width: .6rem;
              overflow: hidden;
              white-space: nowrap;
              background: #ff7f50;
              text-overflow: ellipsis;
            }
          }
        }
        // 没颜色包裹的
        .withoutColor {
          // 物料分类
          .mater_classify {
            font-size: .1rem;
            margin-top: .04rem;
            .father {
              // margin-right: .1rem;
            }
          }
          // 物料颜色 材质
          .mater_material {
            font-size: .1rem;
            // margin-top: .1rem;
            .unit,
            .color {
              margin-right: .06rem;
            }
          }
        }
      }
      //物料单价，属性，颜色
      .mater_more{
        margin-top: .02rem;
        color: #757575;
        font-size: 0.1rem;
        span{
          // display: inline-block;
          margin-right: 0.04rem;
          .mater_color{
            margin-right: 0;
          }
        }

      }
      //物料价格，数量
      .mater_other {
        display: flex;
        margin-top: .03rem;
        align-items: center;
        position: relative;
        justify-content: space-between;
        //内容可编辑提示
        .edit-tips{
          // // font-size: 0;
          // display: flex;
          // color: #454545;
          // // font-weight: bold;
          // align-items: center;
          // // .icon-tianxie {
          // //   font-size: .14rem;
          // // }
          // // .tips-word {
          // //   font-size: .14rem;
          // // }
        }
        .check_bom {
          font-size: 0.12rem;
          color: #454545;
          font-weight: bold;
        }
        .mater_price {
          color: #ea5455;
          font-weight: bold;
          font-size: .16rem;
          line-height: .2rem;
          display: inline-block;
          .unit {
            font-size: .1rem;
            color: #757575;
            // &.num {
            //   right: 0;
            //   top: 0;
            //   position: absolute;

            // }
          }
        }
      }
      // 物料的补充填写按钮
      .edit-part {
        top: 50%;
        right: -3%;
        width: .4rem;
        text-align: center;
        position: absolute;
        transform: translate(0, -50%);
        .icon-bianji1 {
          color: #454545;
        }
      }
    }
    .delete_icon{
      height: 20px;
      position: absolute;
      top:50%;
      left: 0;
      transform: translateY(-50%);
      .checked{
        fill: #ea5455;

      }

    }
  }
  //申请说明
  .comment{
    border: none;
    outline: none;
    width:100%;
    height: 1rem;
    font-size:0.16rem;
    color:#111;
    font-family: -apple-system-font, "Helvetica Neue", sans-serif, Microsoft YaHei, Arial, Helvetica, sans-serif;
  }
  // 新增更多
  .handle_part {
    width: 100%;
    text-align: center;
    position: relative;
    .add_more {
      display: inline-block;
    }
    .symbol {
      left: 50%;
      bottom: 25%;
      color: #757575;
      font-size: .12rem;
      position: absolute;
      transform: translate(-50%, 0);
    }
    .stop {
      margin-right: .24rem;
      background: #ea5455;
      box-shadow: 0 2px 5px #ea5455;
    }
  }
  .add_more {
    width: 1rem;
    color: #fff;
    height: .24rem;
    font-size: .12rem;
    text-align: center;
    line-height: .24rem;
    margin: 0 auto .1rem;
    border-radius: .4rem;
    background: #5077aa;
    box-shadow: 0 2px 5px #5077aa;
  }
}

// 底部栏
.count_mode {
  // left: 0;
  z-index: 99;
  bottom: 0;
  width: 100%;
  display: flex;
  height: .44rem;
  position: absolute;
  line-height: .44rem;
  background: #fff;
  .count_num {
    flex: 2.5;
    color: #5077aa;
    font-size: .24rem;
    padding-left: .1rem;
    position: relative;
    &.nine_up {
      font-size: .2rem;
    }
    &.ten_up {
      font-size: .16rem;
    }
    &.ele_up {
      font-size: .12rem;
      // .total_price {
      //   .symbol {
      //     font-size: .1rem;
      //   }
      // }
      .taxAmount {
        font-size: .1rem;
      }
    }
    .total_price {
      display: inline-block;
      .symbol {
        font-size: .14rem;
      }
    }
    .taxAmount, .total-num {
      color: #757575;
      font-size: .1rem;
      display: inline-block;
    }
  }
  //全选
  .all_checked{
    font-size:0.16rem;
    position: relative;
    padding-left: 0.35rem;
    box-sizing: border-box;
    .vux-x-icon{
      left:0.1rem;
      top:50%;
      position: absolute;
      transform: translateY(-50%);
    }
    .checked{
      fill:#ea5455;
    }

  }
  .count_btn {
    flex: 1.5;
    color: #fff;
    text-align: center;
    background: #5077aa;
    &.stop {
      background: #ea5455;
    }
  }
  .delete_btn {
    @extend .count_btn;
    background: #ea5455;
  }
}
.vux-1px-t:before {
  border-top: 1px solid #e8e8e8;
}
.comment {
  width: 95%;
  margin: 0 auto;
  background: #fff;
  // margin-top: .1rem;
  padding: .06rem .1rem;
  box-sizing: border-box;

  .weui-cell{
    padding: 0;
  }
}
.no_margin{
  margin-top: 0;
}

/* 没有金额的提交和终止按钮 */
.btn-no-amt {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  background: #fff;
  text-align: center;
  .btn-item {
    margin-right: .2rem;
    width: 1.4rem;
    line-height: .4rem;
    border-radius: .4rem;
    color: #fff;
    background-color: #5077aa;
    box-shadow: 0 2px 5px #5077aa;
    &:last-child {
      margin-right: 0;
    }
    /* 只有提交按钮 */
    &:only-child {
      width: 2.8rem;
      line-height: .44rem;
    }
    &.stop {
      background: #ea5455;
      box-shadow: 0 2px 5px #ea5455;
    }
  }
}
.btn_hide{
  display: none;
}
