/deep/ > .weui-cells {
  font-size: .16rem;
  .vux-tap-active {
    .vux-label {
      color: #5077aa;
      font-weight: bold;
    }
  }
  &:after {
    border-bottom: none;
  }
}
.order-title {
  padding: 0 .04rem;
  background: #455d7a;
  display: inline-block;
}
.mater_classify {
  font-size: .1rem;
  margin-top: .02rem;
  .type,
  .father {
    margin-right: .04rem;
  }
}
.mater_material {
  color: #454545;
  font-size: .12rem;
  .unit {
    margin-right: .04rem;
  }
}
.mater_num {
  color: #111;
  font-size: .12rem;
  font-weight: bold;
  span + span {
    margin-left: .04rem;
  }
}
.childPage {
  .content {
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: auto;
    input {
      border: none;
      outline: none;
    }
    .mater_baseinfo {
      display: flex;
      align-items: flex-end;
      .mater_property {
        flex: 1;
      }
    }

    .each_property {
      min-height: .5rem;
      padding: 0.05rem 0.08rem;
      position: relative;
      label {
        color: #6d6d6d;
        font-size: 0.12rem;
        display: block;
        height:0.2rem;
        line-height: 0.2rem;
      }
      .required{
        color:#3296FA;
        font-weight: bold;
      }
      //校验错误提示按钮
      .warn{
        position: absolute;
        right: 0.08rem;
        top: 0.27rem;
      }
      .weui-icon-warn{
        font-size:0.18rem;
      }
      .property_val {
        width:100%;
        display: block;
        font-size: .16rem;
        line-height: .24rem;

      }
      //只读
      .readonly{
        color:#999;
      }
      .picker {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .mater_nature {
          font-size: 0.16rem;
          line-height: 0.2rem;
        }
        .iconfont {
          font-size: 0.24rem;
        }
      }
      .vux-cell-box{
        position: absolute;
        left:0;
        top:0;
        padding: 0.05rem 0.08rem;
        width:100%;
        box-sizing: border-box;
        color: #6d6d6d;
        font-size: 0.12rem;
        label{
          height:0.58rem;
        }
        .vux-cell-primary{
          display: none;
        }
        &:not(:first-child):before{
          border:none;
        }

      }
    }
  }
}
// 提交
.btn {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  z-index: 99;
  position: absolute;
  background: #fff;
  .cfm_btn {
    top: 50%;
    left: 50%;
    width: 2.8rem;
    color: #fff;
    height: .44rem;
    line-height: .44rem;
    position: absolute;
    text-align: center;
    background: #5077aa;
    border-radius: .4rem;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px #5077aa;
  }
  .disabled{
    background:#c7c7c7;
    box-shadow: 0 2px 5px #c7c7c7;
  }
}

// 居中
.mg_auto {
  // width: 95%;
  // margin: 10px auto;
  width: 95%;
    // position: relative;
    margin: .1rem auto 0;
}
.edit_matter {
  .mg_auto{
    padding: 0 .08rem;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    margin-bottom: 0.06rem;
    .vux-no-group-title{
      margin-top:0;
    }
    /deep/ .weui-cells{
      margin-top:0;
      overflow: visible;
      .weui-cell{
        font-size: 0.14rem;

        &:before{
          left:0;
          border-color:#e8e8e8;
        }
      }
      &:before{
        border-top:none;

      }
      &:after{
        border-bottom:none;
      }
    }
  }
}
.symbol {
  font-size: .12rem;
}
// 阴影
.box_sd {
  box-sizing: border-box;
  box-shadow: 0 0 8px #e8e8e8;
}
// 表单内容
.basicPart {
  z-index: 1;
  overflow: hidden;
  position: relative;
  background: #F8F8F8;
  height: calc(100% - .44rem);
  -webkit-overflow-scrolling: touch;
  .fill_wrapper{
    overflow: hidden;
  }
}
// 底部为(价格 + 提交)样式
.no_count{
  height: calc(100% - .44rem)
}
// 全部是表格提交 并且底部只有(提交)格式
.when-is-form {
  height: 90%;
}
//必填字段
.required{
  color: #3296FA;
  font-weight: bold;
}
// 底部栏
.count_mode {
  // left: 0;
  z-index: 99;
  bottom: 0;
  width: 100%;
  display: flex;
  height: .44rem;
  position: absolute;
  line-height: .44rem;
  background: #fff;
  .count_num {
    flex: 2.5;
    color: #5077aa;
    font-size: .24rem;
    padding-left: .1rem;
    position: relative;
    &.nine_up {
      font-size: .2rem;
    }
    &.ten_up {
      font-size: .16rem;
    }
    &.ele_up {
      font-size: .12rem;
      .taxAmount {
        font-size: .1rem;
      }
    }
    .total_price {
      display: inline-block;
      .symbol {
        font-size: .14rem;
      }
    }
    .taxAmount, .total-num {
      color: #757575;
      font-size: .1rem;
      display: inline-block;
    }
  }
  //全选
  .all_checked{
    font-size:0.16rem;
    position: relative;
    padding-left: 0.35rem;
    box-sizing: border-box;
    .vux-x-icon{
      left:0.1rem;
      top:50%;
      position: absolute;
      transform: translateY(-50%);
      fill: #999;
    }
    .checked{
      fill:#ea5455;
    }

  }
  .count_btn {
    flex: 1.5;
    color: #fff;
    text-align: center;
    background: #3296FA;
    &.stop {
      background: #ea5455;
    }
  }
  .delete_btn {
    @extend .count_btn;
    background: #ea5455;
  }
}
.vux-1px-t:before {
  border-top: 1px solid #e8e8e8;
}
.comment {
  border: none;
  outline: none;
  width:100%;
  height: 1rem;
  font-size: .14rem;
  color: #333;
  font-family: -apple-system-font, "Helvetica Neue", sans-serif, Microsoft YaHei, Arial, Helvetica, sans-serif;
  background: #fff;
  padding: .18rem .15rem;
  box-sizing: border-box;
  margin-top: .1rem;
  .weui-cell{
    padding: 0;
  }
}
.no_margin{
  margin-top: 0;
}

/* 没有金额的提交和终止按钮 */
.btn-no-amt {
  z-index: 99;
  bottom: 0;
  width: 100%;
  display: flex;
  height: .44rem;
  position: absolute;
  line-height: .44rem;
  background: #fff;
  display: flex;
  .btn-item{
    flex: 1;
    background: #3296FA;
    color: #fff;
    text-align: center;
    &.stop{
      background: #ea5455;
    }
  }
}
.btn_hide{
  display: none;
}
.mater_other {
  display: flex;
  margin-top: .1rem;
  align-items: center;
  position: relative;
  justify-content: space-between;
  //内容可编辑提示
  .edit-tips{
    font-size: 0.12rem;
    color: #454545;
    font-weight: bold;
    .icon-tianxie {
      font-size: .14rem;
    }
    .tips-word {
      font-size: .12rem;
    }
  }
  .mater_price {
    color: #FA7138;
    font-weight: bold;
    font-size: .16rem;
    line-height: .2rem;
    display: inline-block;
  }
  .matter-remain {
    color: #111;
    font-size: .14rem;
    font-weight: bold;
    .symbol {
      color: #757575;
    }
    .icon--{
      font-size: 0.14rem;
    }
  }
}

