.vux-1px-t:before,
.vux-1px-b:after {
  border-bottom: 1px solid #e8e8e8;
}
.swiper-pagination-bullets{
  top:-6px;
  bottom:inherit;
}
// 居中
.mg_auto {
  width: 95%;
  margin: 10px auto;
}
              
.symbol {
  font-size: .1rem;
}
// 阴影
.box_sd {
  box-sizing: border-box;
  box-shadow: 0 0 8px #e8e8e8;
}

.basicPart {
  z-index: 1; 
  height: 100%;
  overflow: auto;
  position:relative;
  -webkit-overflow-scrolling: touch;
  //相关实例提示
  .related_tips{
    width: 100%;
    display: flex;
    height: .4rem;
    font-size: .14rem;
    color: #EA9843;
    padding: 0 .16rem;
    line-height: .4rem;
    align-items: center;
    background: #FDFAD7;
    box-sizing: border-box;
    justify-content: space-between;
    .r_arw {
      fill: #EA9843;
      stroke: #EA9843;
    }
  }
}

// 工作流
.work_flow {
  position: relative;
  padding: .06rem .08rem .2rem;
  // 右箭头
  .r_arrow {
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
  }
  .hidden {
    display: none;
  }
  // 提示文字
  .tip_tx {
    width: 100%;
    font-size: .1rem;
    color: #757575;
    padding: .04rem 0;
  }
  // 表单基本信息
  .work_info {
    display: flex;
    .work_status,
    .work_code {
      font-weight: bold;
      font-size: .14rem;
      padding: 0 .06rem;
      display: inline-block;
    }
    // 表单状态
    .work_status {
      color: #fff;
      background: #53d397;
      border-top-left-radius: .12rem;
    }
    // 进行中
    .doing_work {
      background: #5077aa;
    }
    // 已失效
    .invalid_work {
      background: #c93d1b;
    }
    // 表单编码
    .work_code {
      display: inline-block;
      background: #455d7a;
      color: #fff;
    }
    // 进行中 编码 {
    .doing_code {
      color: #111;
      background: #dbe2ef;
    }

  }
  // 工作流信息
  .flow_list {
    margin-top: .1rem;
    position: relative;
    // 每一个明细
    .each_msg {
      display: flex;
      padding-bottom: .1rem;
      margin-bottom: .1rem;
      // 用户头像
      .user_avatar {
        width: .65rem;
        height: .65rem;
        img {
          width: 100%;
        }
      }
      // 操作信息
      .handle_info {
        color: #111;
        display: flex;
        font-size: .12rem;
        margin-left: .1rem;
        flex-direction: column;
        justify-content: center;
        // 用户名称
        .user_name {
          font-size: .14rem;
        }
        // 操作名称
        .handle_name {
          font-size: .18rem;
          font-weight: bold;
          span {
            display: inline-block;
          }
          // 默认样式
          .status {
            color: #fff;
            font-size: .1rem;
            padding: 0 .04rem;
            margin-top: -.02rem;
            background: #5077aa;
            vertical-align: middle;
          }
          // 同意样式
          .agree_c {
            background: #53d397;
          }
          // 拒绝样式
          .reject_c {
            background: #c93d1b;
          }
        }
        // 备注
        .remark {
          font-size: .1rem;
          color: #757575;
        }
      }
    }
  }
}

// 地址栏
.or_ads {
  position: relative;
  padding: .06rem .08rem;
  .title {
    color: #757575;
    font-weight: 200;
    font-size: .12rem;
  }
  // 用户信息
  .user_info {
    color: #111;
    font-size: .18rem;
    font-weight: 500;
    // 用户电话
    .user_tel {
      font-size: .14rem;
      font-weight: bold;
      font-family: sans-serif, -apple-system-font;
    }
  }
  // 公司信息
  .cp_info {
    .cp_name {
      color: #111;
      font-weight: 500;
    }
    .cp_ads {
      font-weight: 200;
      color: #757575;
    }
  }
}

// 结算方式
.trade_mode {
  position: relative;
  padding: .06rem .08rem;
  .title {
    color: #757575;
    font-weight: 200;
    font-size: .12rem;
  }
  .mode {
    color: #111;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
  }
}

// 物料列表
.materiel_list {
  position: relative;
  padding: .06rem .08rem;
  .title {
    color: #757575;
    font-weight: 200;
    font-size: .12rem;
  }
  .tips {
    color: #111;
    font-weight: 500;
  }
  // 右箭头
  .r_arrow {
    top: 50%;
    right: .04rem;
    position: absolute;
    transform: translate(0, -50%);
  }
  // 物料列表
  .mater_list {
    width: 100%;
    box-sizing: border-box;
    // 每个物料
    .each_mater {
      padding: .04rem 0 .08rem;
      position: relative;
      box-sizing: border-box;
      // 所属订单
      .order_code {
        display: flex;
        color: #fff;
        font-size: .12rem;
        font-weight: bold;
        span {
          display: inline-block;
          padding: 0 .04rem;
        }
        .order_title {
          background: #1160aa;
        }
        // 订单号
        .order_num {
          background: #9bb4da;
          border-top-right-radius: .08rem;
        }
      }
      .each_mater_wrapper {
        display: flex;
        position: relative;
        // 订单底下的物料
        .order_matter {
          margin-top: .04rem;
        }
        // 物料图片
        .mater_img {
          width: .75rem;
          height: .75rem;
          margin-top: .04rem;
          display: inline-block;
          img {
            width: 100%;
            max-height: 100%;
          }
        }
        // 物料主体
        .mater_main {
          max-width: 2.6rem;
          margin-left: .1rem;
          display: inline-block;
          box-sizing: border-box;
          // 物料名称
          .mater_name {
            color: #111;
            overflow: hidden;
            font-size: .14rem;
            font-weight: bold;
            max-height: .46rem;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            // 每个物料的索引
            .whiNum {
              color: #fff;
              font-weight: 200;
              padding: 0 .02rem;
              font-size: .1rem;
              display: inline-block;
              background: #ea5455;
              vertical-align: middle;
              margin: -.02rem .04rem 0 0;
            }
          }
          // 物料信息
          .mater_info {
            color: #757575;
            font-size: .12rem;
            margin-top: .04rem;
            display: inline-block;
            // 有颜色包裹的
            .withColor {
              // 物料编码
              .mater_code {
                display: flex;
                margin-right: .1rem;
                font-weight: 200;
                .title,
                .num {
                  font-size: .1rem;
                  display: inline-block;
                  padding: .01rem .04rem;
                }
                .title {
                  color: #fff;
                  background: #3f72af;
                }
                .num {
                  color: #111;
                  max-width: .9rem;
                  overflow: hidden;
                  white-space: nowrap;
                  background: #dbe2ef;
                  text-overflow: ellipsis;
                }
              }
              // 规格
              .mater_spec {
                @extend .mater_code;
                .title {
                  background: #537791;
                }
                .num {
                  color: #fff;
                  max-width: .6rem;
                  background: #ff7f50;
                }
              }
              // 科目
              .mater_sub {
                @extend .mater_code;
                .title {
                  background: #0881a3;
                }
                .num {
                  background: #ffd6a4;
                }
              }
            }
            // 没颜色包裹的
            .withoutColor {
              // 物料分类
              .mater_classify {
                font-size: .14rem;
                margin-top: .04rem;
                .father {
                  margin-right: .1rem;
                }
              }
              // 物料颜色 材质
              .mater_material {
                font-size: .12rem;
                margin-top: .1rem;
                .unit,
                .color {
                  margin-right: .06rem;
                }
              }
            }
          }
          //物料价格，数量
          .mater_other {
            margin-top: .02rem;
            // 类型
            .mater_spec {
              font-size: .14rem;
            }
            // 一般金额
            .mater_price {
              color: #ea5455;
              font-weight: bold;
              font-size: .16rem;
              line-height: 0.2rem;
              margin-top: .04rem;
              display: inline-block;

              .num {
                font-size: .1rem;
                color: #757575;
                .symbol {
                  font-size: .08rem;
                }
              }
            }
            // 单价 数量 税率 等
            .mater_num {
              color: #757575;
              font-size: 0.1rem;
              span {
                display: inline-block;
              }
              .num {
                margin-right: 0.04rem;
              }

            }
            // 费用报销
            .mater_reimb {
              // 金额
              .price {
                .title {
                  font-size: .14rem;
                }
                .content {
                  // right: 0;
                  font-size: .18rem;
                  color: #5077aa;
                  // position: absolute;

                }
              }
              // 报销事由
              .reason {
                @extend .price;
                .content {
                  color: #111;
                  font-size: .14rem;
                }
              }
            }
          }
        }
        // 下划线
        .vux-1px-b:after {
          border-bottom: 1px solid #e8e8e8;
        }
      }
    }
    // 合计
    .price_list {
      width: 100%;
      display: flex;
      margin-top: .1rem;
      color: #5077aa;
      font-size: .2rem;
      text-align: center;
      justify-content: space-between;
      .title {
        font-size: .2rem;
        font-weight: 200;
      }
    }
  }
  // 新增更多
  .add_more {
    width: 1rem;
    color: #fff;
    height: .24rem;
    font-size: .12rem;
    text-align: center;
    line-height: .24rem;
    margin: 0 auto .1rem;
    border-radius: .4rem;
    background: #5077aa;
    box-shadow: 0 2px 5px #5077aa;
  }
}

// 审批操作
.handle_btn {
  width: 100%;
  height: .4rem;
  margin: .2rem 0;
  line-height: .4rem;
  text-align: center;
  span {
    width: 1.4rem;
    color: #fff;
    text-align: center;
    display: inline-block;
    border-radius: .24rem;
  }
  // 拒绝
  .reject {
    margin-right: .2rem;
    background: #ea5455;
    box-shadow: 0 2px 5px #ea5455;
  }
  // 同意
  .agree {
    background: #5077aa;
    box-shadow: 0 2px 5px #5077aa;
  }

}
  //相关实例
  .swiper-slide{
    .big_title {
      width: 95%;
      color: #111;
      margin: 0 auto;
      padding: .04rem;
      font-size: .3rem;
      font-weight: 300;
      box-sizing: border-box;
    }
    // 相关应用
    .relevant_list {
      width: 90%;
      margin: 0 auto;
      .each_app {
        margin-bottom: .1rem;
        position: relative;
        border-radius: .08rem;
        .app_info {
          padding: .1rem;
          box-sizing: border-box;
          .title {
            color: #4F90F9;
            font-size: .12rem;
            font-weight: bold;
          }
          .app_name {
            font-size: .18rem;
            .msg_count {
              float: right;
              margin-right: .1rem;
            }
          }
          .msg_num {
            color: #3f72af;
            font-size: .2rem;
            .msg_tx {
              // color: #757575;
              font-size: .12rem;
            }
          }
          .r_arrow {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
          }
        }
      }
    }
  }
