
.vux-1px-t:before,
.vux-1px-b:after,
.vux-1px-t:before,
.vux-1px-tb:before,
.vux-1px-tb:after {
  border-color: #e8e8e8;
}
// 居中
.mg_auto {
  width: 95%;
  margin: 10px auto;
}
.symbol {
  font-size: .1rem;
}
// 阴影
.box_sd {
  box-sizing: border-box;
  box-shadow: 0 0 8px #e8e8e8;
}
.childPage {
  height: 100%;
  .content {
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: auto;
    input {
      border: none;
      outline: none;
    }
    .mater_baseinfo {
      display: flex;
      align-items: flex-end;
      .mater_property {
        flex: 1;
      }
    }
  
    .each_property {
      min-height: .5rem;
      padding: 0.05rem 0.08rem;
      position: relative;
      label {
        color: #6d6d6d;
        font-size: 0.12rem;
        display: block;
        height:0.2rem;
        line-height: 0.2rem;
      }
      .required{
        color:#5077aa;
        font-weight: bold;
      }
      //校验错误提示按钮
      .warn{
        position: absolute;
        right: 0.08rem;
        top: 0.27rem;
      }
      .weui-icon-warn{
        font-size:0.18rem;
      }
      .property_val {
        width:100%;
        display: block;
        font-size: .16rem;
        line-height: .24rem;
      }
      //只读
      .readonly{
        color:#999;
      }
      .picker {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .mater_nature {
          font-size: 0.16rem;
          line-height: 0.2rem;
        }
        .iconfont {
          font-size: 0.24rem;
        }
      }
      .vux-cell-box{
        position: absolute;
        left:0;
        top:0;
        padding: 0.05rem 0.08rem;
        width:100%;
        box-sizing: border-box;
        color: #6d6d6d;
        font-size: 0.12rem;
        label{
          height:0.58rem;
        }
        .vux-cell-primary{
          display: none;
        }
        &:not(:first-child):before{
          border:none;
        }
  
      }
    }
  }
}
// 提交
.btn {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  z-index: 99;
  position: absolute;
  background: #fff;
  .cfm_btn {
    top: 50%;
    left: 50%;
    width: 2.8rem;
    color: #fff;
    height: .44rem;
    line-height: .44rem;
    position: absolute;
    text-align: center;
    background: #5077aa;
    border-radius: .4rem;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px #5077aa;
  }
  .disabled{
    background:#c7c7c7;
    box-shadow: 0 2px 5px #c7c7c7;
  }
}
// 业务应用的表单提交
.detail_content {
  height: 100%;
  overflow-y: auto;
  background: #fff;
  div {
    border: none;
    outline: none;
  }
  .mater_baseinfo {
    display: flex;
    // align-items: flex-end;
    .mater_property {
      flex: 2;
    }
    .mater_pic {
      flex: 1;
      z-index: 99;
      .add_icon {
        width: 100%;
        height: 100%;
        position: relative;
        // z-index: 99;
        label {
          display: block;
          width: 100%;
          height: 100%;
        }
        .upload {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          z-index: -999;
          span {
            display: block;
            text-align: center;
          }
          .iconfont {
            font-size: 0.24rem;
            margin-top: 0.24rem;
          }
        }

      }
      .pic {
        width: 1.2rem;
        height: 1.2rem;
        border: 0;
      }
    }
  }
  .each_property {
    // min-height: .5rem;
    padding: .05rem .08rem;
    position: relative;
    label {
      color: #6d6d6d;
      font-size: 0.12rem;
      display: block;
      height:0.2rem;
      line-height: 0.2rem;
    }
    .property_val {
      display: block;
      font-size: .16rem;
      line-height: .24rem;
    }
    .picker {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .mater_nature {
        font-size: 0.16rem;
        line-height: 0.2rem;
      }
      .iconfont {
        font-size: 0.24rem;
      }
    }
    .vux-cell-box{
      position: absolute;
      left:0;
      top:0;
      padding: 0.05rem 0.08rem;
      width:100%;
      box-sizing: border-box;
      color: #6d6d6d;
      font-size: 0.12rem;
      label{
        height:0.58rem;
      }
      .vux-cell-primary{
        display: none;
      }
      &:not(:first-child):before{
        border:none;
      }

    }
  }
}

.basicPart {
  z-index: 1;
  height: 100%;
  overflow: auto;
  position:relative;
  background: #f8f8f8;
  -webkit-overflow-scrolling: touch;
  //相关实例提示
  .related_tips {
    width: 100%;
    display: flex;
    height: .4rem;
    font-size: .14rem;
    color: #EA9843;
    padding: 0 .16rem;
    line-height: .4rem;
    align-items: center;
    background: #FDFAD7;
    box-sizing: border-box;
    justify-content: space-between;
    .r_arw {
      fill: #EA9843;
      stroke: #EA9843;
    }
  }
  .comment-part {
    width: 100%;
    margin: .1rem 0;
    padding: 0 .08rem;
    background: #fff;
    box-sizing: border-box;
  }
}
.l_size_name {
  color: #111;
  padding: .06rem 0;
  font-size: .22rem;
  font-weight: 400;
}
.m_size_name {
  font-size: .18rem;
}
.s_size_name {
  font-size: .14rem;
}
.bs_common {
  width: 100%;
  padding: 0 .1rem;
  background: #fff;
  margin-bottom: .1rem;
  box-sizing: border-box;
}
// 物料列表
.materiel_list {
  position: relative;
  background: #FFF;
  padding: .06rem .08rem;
  .title {
    color: #111;
    font-weight: bold;
    font-size: .16rem;
    .icon-Shape {
      font-size: .14rem;
      font-weight: normal;
    }
  }
  .tips {
    color: #111;
    font-weight: 500;
  }
  // 右箭头
  .r_arrow {
    top: 50%;
    right: .04rem;
    position: absolute;
    transform: translate(0, -50%);
  }
  // 物料列表
  .mater_list {
    width: 100%;
    box-sizing: border-box;
    // 每个物料
    .each_mater {
      padding: .04rem 0 0;
      position: relative;
      box-sizing: border-box;
      .each_mater_wrapper {
        width: 100%;
        display: flex;
        position: relative;
        // 物料主体
        .mater_main {
          width: 2.6rem;
          margin-left: .1rem;
          display: inline-block;
          box-sizing: border-box;
          // 物料名称
          .mater_name {
            color: #111;
            overflow: hidden;
            font-size: .14rem;
            font-weight: bold;
            max-height: .46rem;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            // 每个物料的索引
            .whiNum {
              color: #fff;
              
              padding: 0 .02rem;
              font-size: .1rem;
              display: inline-block;
              background: #ea5455;
              vertical-align: middle;
              margin: -.02rem .04rem 0 0;
            }
          }
          // 物料信息
          .mater_info {
            color: #757575;
            font-size: .12rem;
            margin-top: .04rem;
            display: inline-block;
            // 有颜色包裹的
            .withColor {
              font-size: 0;
              // 物料编码
              .mater_code {
                
                margin-right: .06rem;
                .title,
                .num {
                  font-size: .1rem;
                  padding: .01rem .04rem;
                }
                .title {
                  color: #fff;
                  background: #3f72af;
                  border-top-left-radius: .12rem;
                  border-bottom-left-radius: .12rem;
                }
                .num {
                  color: #111;
                  max-width: .9rem;
                  overflow: hidden;
                  white-space: nowrap;
                  background: #dbe2ef;
                  text-overflow: ellipsis;
                  border-top-right-radius: .12rem;
                  border-bottom-right-radius: .12rem;
                }
              }
              // 规格
              .mater_spec {
                @extend .mater_code;
                .title {
                  background: #537791;
                }
                .num {
                  color: #fff;
                  max-width: .6rem;
                  background: #ff7f50;
                }
              }
              // 科目
              .mater_sub {
                @extend .mater_code;
                .title {
                  background: #0881a3;
                }
                .num {
                  background: #ffd6a4;
                }
              }
            }
            // 没颜色包裹的
            .withoutColor {
              // 物料分类
              .mater_classify {
                font-size: .14rem;
                margin-top: .04rem;
                .father {
                  margin-right: .1rem;
                }
              }
              // 物料颜色 材质
              .mater_material {
                font-size: .12rem;
                margin-top: .1rem;
                .unit,
                .color {
                  margin-right: .06rem;
                }
              }
            }
          }
          //物料价格，数量
          .mater_other {
            margin-top: .02rem;
            // 类型
            .mater_spec {
              font-size: .14rem;
            }
            // 一般金额
            .mater_price {
              color: #ea5455;
              font-weight: bold;
              font-size: .14rem;
              line-height: 0.2rem;
              margin-top: .04rem;
              display: inline-block;

              .num {
                font-size: .1rem;
                color: #757575;
                .symbol {
                  font-size: .08rem;
                }
              }
            }
            
            // 费用报销
            .mater_reimb {
              // 金额
              .price {
                .title {
                  font-size: .14rem;
                }
                .content {
                  font-size: .18rem;
                  color: #5077aa;
                }
              }
              // 报销事由
              .reason {
                @extend .price;
                .content {
                  color: #111;
                  font-size: .14rem;
                }
              }
            }
          }
        }
        // 下划线
        .vux-1px-b:after {
          border-bottom: 1px solid #e8e8e8;
        }
      }
    }
  }
  // 新增更多
  .add_more {
    width: 1rem;
    color: #fff;
    height: .24rem;
    font-size: .12rem;
    text-align: center;
    line-height: .24rem;
    margin: 0 auto .1rem;
    border-radius: .4rem;
    background: #5077aa;
    box-shadow: 0 2px 5px #5077aa;
  }
}
.form_part {
  width: 100%;
  .icon-renwu {
    font-size: .14rem;
    margin-right: .04rem;
  }
  .form_title {
    color: #111;
    background: #fff;
    font-size: .16rem;
    padding: .06rem .1rem;
    .title {
      font-weight: bold;
    }    
  }
}
// 表格
.form_content {
  position: relative;
  background: #FFF;
  // padding-top: .06rem;
  &.has_margin{
    margin-top:0.1rem;
  }
  .form_title {
    color: #111;
    font-weight: bold;
    font-size: .16rem;
    padding: .04rem .1rem;
    .iconfont {
      font-size: .14rem;
    }
    
  }
  .main_content {
    padding: 0 .1rem;
  }
  &.show_border {
    border-bottom: .03rem solid #e8e8e8;
  }
}
.price_cell {
  width: 100%;
  display: flex;
  background: #FFF;
  align-items: center;
  padding: .08rem .1rem;
  box-sizing: border-box;
  justify-content: space-between;
  .title {
    font-weight: bold;
  }
  .price_title {
    color: #111;    
    font-weight: bold;
  }
  .symbol {
    font-size: .14rem;
  }
  .num {
    color: #c93d1b;
    font-size: .2rem;
    font-weight: bold;
  }
}
// 项目类公共
.project_info {
  width: 100%;
  padding: 0 .1rem;
  background: #FFF;
  margin-bottom: .1rem;
  box-sizing: border-box;
  .info_title {
    padding: .06rem 0;
    font-size: .16rem;
    font-weight: bold;
    .icon-renwu {
      font-size: .14rem;
      font-weight: normal;
      margin-right: .05rem;
    }
    .icon-xiangmu {
      margin-right: .01rem;
    }
    .icon-yusuan2 {
      margin-right: .02rem;
    }
  }
  .info_content {
    padding: .06rem 0;
    .each_info {
      margin: .04rem 0;
      font-size: .14rem;
      .title {
        font-weight: bold;
      }
      .content {
        
      }
    }
  }
}
// 仓库公共
.warehouse_part {
  margin-bottom: .1rem;
  padding: 0 .1rem;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
}
// 审批操作
.handle_btn {
  width: 100%;
  height: .4rem;
  margin: .2rem 0;
  line-height: .4rem;
  text-align: center;
  span {
    width: 1.4rem;
    color: #fff;
    text-align: center;
    display: inline-block;
    border-radius: .24rem;
  }
  // 拒绝
  .reject {
    margin-right: .2rem;
    background: #ea5455;
    box-shadow: 0 2px 5px #ea5455;
  }
  // 同意
  .agree {
    background: #5077aa;
    box-shadow: 0 2px 5px #5077aa;
  }

}
// 表单基本信息
.work_info {
  display: flex;
  .work_status,
  .work_code {
    font-weight: bold;
    font-size: .14rem;
    padding: 0 .06rem;
    display: inline-block;
  }
  // 表单状态
  .work_status {
    color: #fff;
    background: #53d397;
    border-top-left-radius: .12rem;
  }
  // 进行中
  .doing_work {
    background: #5077aa;
  }
  // 已失效
  .invalid_work {
    background: #c93d1b;
  }
  // 表单编码
  .work_code {
    display: inline-block;
    background: #455d7a;
    color: #fff;
  }
  // 进行中 编码 {
  .doing_code {
    color: #111;
    background: #dbe2ef;
  }

}

