@import '~@/scss/color';

.content {
  width: 100%;
  height: 90%;
  overflow: auto;
}
.vux-1px-t:before,
.vux-1px-b:after,
.vux-1px-tb:after,
.vux-1px-tb:before {
  border-color: #E8E8E8;
}
.symbol {
  font-size: .1rem;
}
.list_top {
  width: 100%;
  padding-top: .1rem;
  // 过滤
  .filter_part {
    margin-top: .04rem;
  }
}

.list_wrapper {
  position: relative;
  height: calc(100% - .52rem - 36px);
  overflow: hidden;
  box-sizing: border-box;
  .each_duty {
    width: 95%;
    color: #111;
    position: relative;
    border-radius: .08rem;
    margin: .1rem auto .2rem;
    box-shadow: 0 2px 10px #e8e8e8;
    transition: background-color 200ms linear;
    &.visited {
      background-color: $list_visited;
    }
    .duty_name { //任务名称
      width: 100%;
      padding: 0 .1rem;
      max-height: 1rem;
      overflow: hidden;
      font-size: .16rem;
      font-weight: bold;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      box-sizing: border-box;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      .status_part {
        color: #757575;
        font-size: .12rem;
        font-weight: normal;
        .iconfont {
          font-size: .1rem;
        }
      }
      .major_content {
        padding-bottom: .04rem;
      }
    }
    .duty_top {
      height: .24rem;
      line-height: .24rem;
      padding: .04rem .1rem .02rem;
      .duty_code { //任务编码
        float: left;
        font-size: .15rem;
        color: #7D7D7D;
        
        .duty_crt_man { // 任务创建者
          color: #fff;
          padding: .02rem;
          position: relative;
          background: #333;
          font-size: 0.12rem;
          font-weight: bold;
        }
        .duty_crt_man:before { //左尖角
          position: absolute;
          content: "";
          width: 0;
          height: 0;
          top: 0;
          left: -.03rem;
          border-right: .04rem solid #333;
          border-bottom: .04rem solid transparent;
        }
        .duty_done_c {
          background: #53d397;
        }
        .duty_done_c:before {
          border-right: .04rem solid #53d397;
        }
        .duty_doing_c {
          background: #5077aa;
        }
        .duty_doing_c:before {
          border-right: .04rem solid #5077aa;
        }
        .duty_fall_c {
          background: #474a56;
        }
        .duty_fall_c:before {
          border-right: .04rem solid #474a56;
        }

      }

      .duty_time { //任务创建时间
        float: right;
        font-size: .15rem;
        color: #7D7D7D;
        
      }
    }
    .duty_main {
      .major_content {
        font-size: .16rem;
        font-weight: bold;
      }
    }
    .duty_item {
      padding: 0 .1rem;
    }
  }
  /* 物料 */
  .duty_matter {
    display: block;
    margin: .02rem 0;
    padding: 0 .1rem;
    box-sizing: border-box;
    .duty_matter_item {
      width: 100%;
      display: flex;
      margin: .02rem 0;
      padding: .04rem 0;
      box-sizing: border-box;
      .matter_img {
        width: .65rem;
        margin-right: .1rem;
        border-radius: .04rem;
        img {
          width: 100%;
        }
      }
      .matter_main {
        width: 100%;
        .main_top {
          width: 100%;
          display: flex;
          justify-content: space-between;
          .matter_info {
            width: 85%;
            .matter_name {
              color: #111;
              overflow: hidden;
              font-size: .14rem;
              // font-weight: bold;
              display: -webkit-box;
              // margin-bottom: .04rem;
              -webkit-line-clamp: 2;
              text-overflow: ellipsis;
              -webkit-box-orient: vertical;
            }
            .matter_units {
              font-size: .1rem;
              color: #7D7D7D;
            }
          }
          .matter_price_part {
            font-size: .12rem;
            text-align: right;
            display: inline-block;
            margin-top: -.02rem;
            .price_num {
              // color: #c93d1b;
              font-size: .14rem;
              font-weight: bold;
            }
            .mater_count {
              color: #7D7D7D;
            }
          }
        }
        .main_m {
          color: #7D7D7D;
          font-size: .1rem;
        }
      }
    }
    .show_one {
      align-items: center;
    }


  }
  .order_count {
    width: 100%;
    display: flex;
    font-size: .14rem;
    align-items: center;
    box-sizing: border-box;
    padding: .02rem .1rem .04rem;
    justify-content: space-between;
    .handle_man {
      color: #7D7D7D;
      font-size: .16rem;
      // background: #5077aa;
    }
    .num {
      color: #7D7D7D;
    }
    .money {
      font-size: .16rem;
      color: #c93d1b;
      font-weight: bold;
    }
  }
}

// 确定
.btn {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  position: absolute;
  background: #fff;
  .cfm_btn {
    top: 50%;
    left: 50%;
    width: 2.8rem;
    color: #fff;
    height: .44rem;
    line-height: .44rem;
    position: absolute;
    text-align: center;
    background: #5077aa;
    border-radius: .4rem;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px #5077aa;
  }
}
