.icon-clear {
  background: url('/src/assets/iconfont/clear.png');
  background-size: cover;
}
.icon-search {
  background: url('/src/assets/iconfont/nav_search.png');
  background-size: cover;
}
.icon-right {
  background: url('/src/assets/iconfont/right.png');
  background-size: cover;
}
.icon-up {
  background: url('/src/assets/iconfont/up.png');
  background-size: cover;
}
.icon-up-fill {
  background: url('/src/assets/iconfont/up_fill.png');
  background-size: cover;
}
.icon-down {
  background: url('/src/assets/iconfont/down.png');
  background-size: cover;
}
.icon-down-fill {
  background: url('/src/assets/iconfont/down_fill.png');
  background-size: cover;
}
.icon-add {
  background: url('/src/assets/iconfont/add.png');
  background-size: cover;
}
.icon-dealer {
  background: url('/src/assets/iconfont/dealer.png');
  background-size: cover;
}
.icon-check {
  background: url('/src/assets/iconfont/check.png');
  background-size: cover;
}

.icon-code {
  background: url('~assets/iconfont/code.png');
  background-size: cover;
}

.icon-handler {
  background: url('~assets/iconfont/handler.png');
  background-size: cover;
}

.icon-mod-time {
  background: url('~assets/iconfont/mod_time.png');
  background-size: cover;
}
.icon-filter {
  background: url('~assets/iconfont/filter.png');
  background-size: cover;
}
.icon-filter-up {
  background: url('~assets/iconfont/filter_up.png');
  background-size: cover;
}
.icon-filter-down {
  background: url('~assets/iconfont/filter_down.png');
  background-size: cover;
}
.icon-filter-back {
  background: url('~assets/iconfont/filter_back.png');
  background-size: cover;
}

.icon-flow-time {
  background: url('~assets/iconfont/flow_time.png');
  background-size: cover;
}

.icon-success {
  background: url('~assets/iconfont/success.png');
  background-size: cover;
}

.icon-dialog {
  background: url('~assets/iconfont/dialog.png');
  background-size: cover;
}

.icon-heart{
  background: url('~assets/iconfont/heart.png');
  background-size: cover;
}

.icon-heart-fill{
  background: url('~assets/iconfont/heart_fill.png');
  background-size: cover;
}

.icon-praise{
  background: url('~assets/iconfont/praise.png');
  background-size: cover;
}

.icon-praise-fill{
  background: url('~assets/iconfont/praise_fill.png');
  background-size: cover;
}
