
@font-face {
  font-family: "iconfont";
  src: url('../font/iconfont.ttf'); 
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daiban:before { content: "\e63f";  }
.icon-yiban:before { content: "\e64a"; }
.icon-shenfenzheng:before { content: "\e625"; }
.icon-xia:before { content: "\e64f"; }
.icon-wujilu:before { content: "\e710"; }
.icon-user__easyico:before { content: "\e600"; }
.icon-rencai:before { content: "\e60d"; }
.icon-yonghu-xianxing:before { content: "\e8c8"; }
.icon-yonghu:before { content: "\e8c9"; }


