.icon-clear {
  background: url('~assets/iconfont/clear.png');
  background-size: cover;
}
.icon-search {
  background: url('~assets/iconfont/nav_search.png');
  background-size: cover;
}
.icon-right {
  background: url('~assets/iconfont/right.png');
  background-size: cover;
}
.icon-up {
  background: url('~assets/iconfont/up.png');
  background-size: cover;
}
.icon-up-fill {
  background: url('~assets/iconfont/up_fill.png');
  background-size: cover;
}
.icon-down {
  background: url('~assets/iconfont/down.png');
  background-size: cover;
}
.icon-down-fill {
  background: url('~assets/iconfont/down_fill.png');
  background-size: cover;
}
.icon-add {
  background: url('~assets/iconfont/add.png');
  background-size: cover;
}
.icon-dealer {
  background: url('~assets/iconfont/dealer.png');
  background-size: cover;
}
.icon-check {
  background: url('~assets/iconfont/check.png');
  background-size: cover;
}

.icon-code {
  background: url('~assets/iconfont/code.png');
  background-size: cover;
}

.icon-handler {
  background: url('~assets/iconfont/handler.png');
  background-size: cover;
}

.icon-mod-time {
  background: url('~assets/iconfont/mod_time.png');
  background-size: cover;
}
.icon-filter {
  background: url('~assets/iconfont/filter.png');
  background-size: cover;
}
.icon-filter-up {
  background: url('~assets/iconfont/filter_up.png');
  background-size: cover;
}
.icon-filter-down {
  background: url('~assets/iconfont/filter_down.png');
  background-size: cover;
}
.icon-filter-back {
  background: url('~assets/iconfont/filter_back.png');
  background-size: cover;
}

.icon-flow-time {
  background: url('~assets/iconfont/flow_time.png');
  background-size: cover;
}

.icon-success {
  background: url('~assets/iconfont/success.png');
  background-size: cover;
}

.icon-dialog {
  background: url('~assets/iconfont/dialog.png');
  background-size: cover;
}

.icon-heart{
  background: url('~assets/iconfont/heart.png');
  background-size: cover;
}

.icon-heart-fill{
  background: url('~assets/iconfont/heart_fill.png');
  background-size: cover;
}

.icon-praise{
  background: url('~assets/iconfont/praise.png');
  background-size: cover;
}

.icon-praise-fill{
  background: url('~assets/iconfont/praise_fill.png');
  background-size: cover;
}

.icon-task{
  background: url('~assets/iconfont/task.png');
  background-size: cover;
}

.icon-task2{
  background: url('~assets/iconfont/task2.png');
  background-size: cover;
}

.icon-task3{
  background: url('~assets/iconfont/task3.png');
  background-size: cover;
}

.icon-project{
  background: url('~assets/iconfont/project.png');
  background-size: cover;
}

.icon-male{
  background: url('~assets/iconfont/male.png');
  background-size: cover;
}

.icon-female{
  background: url('~assets/iconfont/female.png');
  background-size: cover;
}

.icon-job{
  background: url('~assets/iconfont/job.png');
  background-size: cover;
}

.icon-send{
  background: url('~assets/iconfont/send.png');
  background-size: cover;
}

.icon-light{
  background: url('~assets/iconfont/light.png');
  background-size: cover;
}

.icon-project{
  background: url('~assets/iconfont/project2.png');
  background-size: cover;
}

.icon-type{
  background: url('~assets/iconfont/type.png');
  background-size: cover;
}

.icon-dealer2{
  background: url('~assets/iconfont/dealer2.png');
  background-size: cover;
}

.icon-address{
  background: url('~assets/iconfont/address.png');
  background-size: cover;
}

.icon-more{
  background: url('~assets/iconfont/more.png');
  background-size: cover;
}

.icon-close{
  background: url('~assets/iconfont/close.png');
  background-size: cover;
}

.icon-edit{
  background: url('~assets/iconfont/icon_edit.png');
  background-size: cover;
}

.icon-pic-add{
  background: url('~assets/iconfont/icon_pic_add.png');
  background-size: cover;
}

.icon-mobile{
  background: url('~assets/iconfont/mobile.png');
  background-size: cover;
}

.icon-phone{
  background: url('~assets/iconfont/phone.png');
  background-size: cover;
}

.icon-dealer-address{
  background: url('~assets/iconfont/icon_address.png');
  background-size: cover;
}

.icon-no-select{
  background: url('~assets/iconfont/no_select.png');
  background-size: cover;
}

.icon-selected{
  background: url('~assets/iconfont/selected.png');
  background-size: cover;
}
