.vux-1px-t:before,
.vux-1px-b:after {
  border-color: #e8e8e8;
}

.symbol {
  font-size: .1rem;
}

.content {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.list_top {
  width: 100%;
  padding-top: .1rem;
  // 过滤
  .filter_part {
    margin-top: .04rem;
  }
}

.scroll-container {
  .scroll-wrapper {
    padding-bottom: .3rem;
  }
}

.list_wrapper {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  background: #F9F9F9;
  height: calc(100% - .4rem - 44px);

  .scroll-wrapper {
    padding-bottom: .3rem !important;
  }
  .each_duty {
    width: 95%;
    position: relative;
    background: #fff;
    border-radius: .08rem;
    box-sizing: border-box;
    margin: .1rem auto .2rem;
    padding: .06rem .08rem .04rem;
    box-shadow: 0 2px 5px #e8e8e8;
    // 余额
    .mater_code {
      display: flex;
      // font-weight: 200;
      span {
        font-size: .12rem;
        display: inline-block;
      }
      .title {
        margin-right: .04rem;
      }
    }
    .duty_top {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      justify-content: space-between;
      // 仓库编码
      .warehouse_info {
        display: flex;
        .warehouse {
          font-weight: bold;
          font-size: .12rem;
          padding: 0 .04rem;
        }
        .warehouse_name {
          color: #fff;
          background: #3f72af;
          border-top-left-radius: .04rem;
        }
        .warehouse_code {
          color: #111;
          background: #dbe2ef;
        }
      }
      .warehouse_type {
        font-size: .14rem;
        color: #757575;
      }
    }
    // 物料名称
    .matter {
      .matter_name {
        font-size: .2rem;
        font-weight: 300;
        padding: .04rem 0;
        .type {
          font-size: .1rem;
        }
      }
      .mater_days {
        color: #595959;
        font-size: .12rem;
        font-weight: 400;
        margin-bottom: .04rem;
        .days {
          margin-right: .04rem;
          background: #fff9e0;
          border-radius: .12rem;
          padding: .02rem .06rem;
        }
      }
    }
    // 仓库关系 金额余额
    .duty_btm {
      @extend .duty_top;
      font-size: .14rem;
      padding: .04rem 0 .02rem;
      // 仓库关系
      .ware_type {
        font-weight: bold;
        .type {
          font-size: .1rem;
        }
      }
      // 余额
      .balance {
        color: #c93d1b;
        font-weight: bold;

      }
    }
  }
}

//流水详情
.vux-popup-dialog {
  background: #fff;
  height: 100%;
  overflow: hidden;
  padding: 0.1rem;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  .flow_list_wrapper {
    height: 100%;
  }
  .flow {
    .flow_top {
      text-align: center;
      margin-bottom: 0.1rem;
      // 标题
      .title {
        color: #111;
        font-weight: bold;
        font-size: .24rem;
      }
      // 名称
      .name {
        font-weight: 200;
        font-size: .18rem;
      }
    }
    // 流水列表信息
    .flow_list {
      .each_flow {
        width: 95%;
        position: relative;
        border-radius: .08rem;
        box-sizing: border-box;
        margin: .1rem auto .2rem;
        padding: .06rem .08rem .04rem;
        box-shadow: 0 2px 10px #e8e8e8;
        .duty_top {
          display: flex;
          // align-items: baseline;
          justify-content: space-between;
          //实例编码
          .transCode {
            display: flex;
            color: #fff;
            font-size: .12rem;
            font-weight: bold;
            span {
              display: inline-block;
              padding: 0 .04rem;
            }
            .order_title {
              background: #1160aa;
            }
            // 订单号
            .order_num {
              background: #9bb4da;
              border-top-right-radius: .08rem;
            }
          }
          // 时间
          .time {
            font-size: .12rem;
          }
        }
        // 明细
        .show_list {
          // padding-left: .06rem;
          box-sizing: border-box;
          // 应用名称
          .app_name {
            font-weight: 300;
            font-size: .2rem;
            margin-top: .02rem;
          }
          // 金额数量等状态
          .num_info {
            font-size: .14rem;
            padding-left: .04rem;
            // 数量
            .count {
              .num_part {
                display: flex;
                align-items: baseline;
                .number_incre,
                .number_redu {
                  margin-left: .04rem;
                }
                // 增加
                .number_incre {
                  color: #c93d1b;
                }
                // 减少
                .number_redu {
                  color: #53d397;
                }
              }
            }
            // 金额
            .amount_money {
              @extend .count;
            }
          }
          //数量
          .num {
            display: flex;
            justify-content: space-between;
            line-height: 0.3rem;
          }
        }
        // 汇总
        .summary_part {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          // text-align: right;
          padding: .04rem 0 .02rem;
          // 增加
          .increase {
            color: #c93d1b;
          }
          // 减少
          .reduce {
            color: #53d397;
          }
        }
        //向下箭头
        .r-arrow {
          text-align: center;
        }
        //收起流水列表
        .hidden_list {
          .each_property {
            line-height: 0.35rem;
            display: flex;
            justify-content: space-between;
          }

        }

      }
    }
  }
  // 确定
  .btn {
    width: 100%;
    background: #fff;
    text-align: center;
    margin-bottom: .1rem;
    .cfm_btn {
      width: 2.8rem;
      color: #fff;
      height: .44rem;
      line-height: .44rem;
      text-align: center;
      background: #5077aa;
      display: inline-block;
      border-radius: .4rem;
      box-shadow: 0 2px 5px #5077aa;
    }
  }
  // 工作流数据少的时候 按钮固定在底部
  .when_less {
    left: 0;
    bottom: 0;
    position: fixed;
  }
}
