.vux-1px-b:after {
  border-color: #e8e8e8;
}
.app-part {
  width: 100%;
  box-sizing: border-box;
  .app_classify_name {
    width: 100%;
    color: #333;
    font-weight: bold;
    font-size: .2rem;
    line-height: .2rem;
    padding: .04rem .1rem;
    margin-top: .1rem;
    box-sizing: border-box;
    > p {
      padding-left: .04rem;
      @include boder_color();
      border-left: 4px solid;
    }
  }
  .app-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: .08rem;
    // padding: .08rem 0 .14rem;
    // 单个APP
    .indval_app {
      width: 50%;
      display: flex;
      margin-bottom: .1rem;
      border-radius: .08rem;
      box-sizing: border-box;
      padding: .04rem .1rem 0;
      .app_img {
        width: .5rem;
        height: .5rem;
        margin-right: .1rem;
        img {
          width: 100%;
          border-radius: .08rem;
        }
      }
      .app_info {
        flex: 1;
        padding-bottom: .1rem;
        .app_name {
          width: 1rem;
          overflow: hidden;
          font-size: .14rem;          
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .app_intro {
          color: #757575;
          font-size: .12rem;
        }
        .app_detail_btn {
          @include font_color();
          font-size: .1rem;
          font-weight: bold;
          margin-top: .06rem;
          width: fit-content;
          box-sizing: border-box;
          background: #EEEEF6;
          border-radius: 0.12rem;
          padding: .02rem .04rem;
          
        }
      }

      // 应用名称
      
      .app_intro {
        overflow: hidden;
        font-size: .14rem;
        max-height: .46rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
      }    
    }
  }
}

